@charset "UTF-8";
/* основний колір тексту #212121; */
/* другий колір тексту #757575; */
/* основний фон #FFFFFF; */
/* вториний колір фону #F5F4FA; */
/* колір фону героя і футера #2F303A */
/* акцент #2196F3; */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bgd-color: #f5f4fa;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;
}

/* секції */
.section {
  padding: 94px 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/* шапка сайту */
.page-header {
  display: flex;
  align-items: center;
}

/* логотип */
.page-header__logo {
  margin-right: 93px;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: #000;
}

span {
  font-family: Raleway;
  color: var(--accent-color);
}

/* навігація */
.nav-list {
  display: flex;
}

.nav-list .nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link {
  position: relative;
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list__link:hover, .nav-list__link:focus {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.nav-list__link.current {
  color: var(--accent-color);
}

.nav-list__link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

.contacts .contacts__item + .contacts__item {
  margin-left: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon-mail {
  margin-right: 10px;
  fill: currentColor;
}
.contacts__icon-mail:hover, .contacts__icon-mail:focus {
  fill: var(--accent-color);
}

.contacts__icon-smartphone {
  margin-right: 10px;
  fill: currentColor;
}
.contacts__icon-smartphone:hover, .contacts__icon-smartphone:focus {
  fill: var(--accent-color);
}

/* секція героя */
.hero {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.bgd.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2f303a;
  text-transform: uppercase;
  text-align: center;
}

.hero__container {
  width: 696px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
}

.hero__button {
  padding: 10px 30px;
  border-radius: 4px;
  border: 1px solid transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  border: 1px solid transparent;
  color: var(--primary-white-color);
  background-color: #188ce8;
}

/* секція особливості */
.features {
  padding-bottom: 47px;
}

.features-list {
  display: flex;
}

.features-list .features-list__item {
  width: 270px;
}

.features-list .features-list__item + .features-list__item {
  margin-left: 30px;
}

.features-bgd {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-bgd-color);
}

.features-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.features-list__text {
  margin: 0;
  font-size: 14px;
  line-height: 1.7;
  color: var(--secondary-text-color);
}

/* секція чим ми займаємось */
.work {
  padding-top: 47px;
}

.work__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.work-list {
  display: flex;
}

.work-list .work-list__item + .work-list__item {
  margin-left: 30px;
}

.work-list .work-list__item {
  position: relative;
}

.work-list__box {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.work-list__description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

/* секція наша команда */
.team {
  background-color: #f5f4fa;
}

.team__container {
  padding: 94px 15px;
}

.team__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team-list {
  display: flex;
}

.team-list .team-list__item + .team-list__item {
  margin-left: 30px;
}

.team-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  background-color: var(--primary-white-color);
}

.team-card__name {
  margin: 30px 0 10px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-card__profession {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-text-color);
}

.social-list {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.social-list__icon {
  fill: currentColor;
}

/* секція клієнти */
.clients__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover, .clients-list__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-list__icon {
  fill: currentColor;
}

/* футер */
.footer {
  background-color: #2f303a;
}

.footer__container {
  display: flex;
  align-items: baseline;
  padding: 60px 15px;
  gap: 70px;
}

.footer__box {
  width: 231px;
}

.logo__footer {
  display: inline-block;
  margin-bottom: 20px;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--primary-white-color);
}

.address__item + .address__item {
  margin-top: 9px;
}

.address__link {
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  color: var(--primary-white-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.address__mail,
.address__number {
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__mail:hover,
.address__mail:focus {
  color: var(--accent-color);
}

.address__number:hover,
.address__number:focus {
  color: var(--accent-color);
}

.footer-box__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-social {
  display: flex;
  gap: 10px;
}

.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--accent-color);
}

.footer-social__icon {
  fill: currentColor;
}

/* форма у футері */
.footer-form__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: start;
  color: #ffffff;
}

.form-box {
  display: flex;
  align-items: center;
}

.form-box__input {
  padding-left: 16px;
  min-width: 358px;
  height: 50px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  background-color: transparent;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-box__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.form-box__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.form-box__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.form-box__input:focus {
  outline-color: var(--accent-color);
}

.footer-form__btn {
  position: relative;
  min-height: 50px;
  min-width: 200px;
  padding-right: 28px;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form__btn:hover, .footer-form__btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-form__icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

/* модальне вікно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background-color: #ffffff;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-button:hover, .modal__close-button:focus {
  fill: var(--accent-color);
}

/* форма */
.form {
  padding: 40px 39px 41px;
}

b {
  display: block;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.form__field {
  position: relative;
  display: block;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field:focus-within .form__icon {
  fill: var(--accent-color);
}

.form__label {
  position: absolute;
  top: -16px;
  left: 0;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__input {
  display: block;
  margin-bottom: 28px;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border-color: rgba(33, 33, 33, 0.2);
  outline-color: rgba(33, 33, 33, 0.2);
  border-radius: 6px;
  cursor: pointer;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus {
  outline-color: var(--accent-color);
}

.form__comment {
  margin-bottom: 20px;
  padding: 12px 16px;
  width: 100%;
  min-height: 120px;
  outline-color: rgba(33, 33, 33, 0.2);
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}
.form__comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment:focus {
  outline-color: var(--accent-color);
}

.form__policy {
  position: relative;
  display: block;
  margin-bottom: 30px;
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.form__icon-check {
  position: absolute;
  top: 17%;
  left: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  fill: transparent;
  border: 2px solid #000000;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__checkbox:checked + .form__icon-check {
  fill: #ffffff;
  border-radius: 3px;
  border: transparent;
  background-color: var(--accent-color);
}

.form__link {
  padding-left: 7px;
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__link:hover, .form__link:focus {
  color: #188ce8;
}

.form-box {
  display: flex;
  justify-content: center;
}

.form-box__button {
  padding: 10px 52px;
  border-radius: 4px;
  border: 1px solid transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0px 4px 4px rgba(0, 0, 0, 0.15) 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-box__button:hover, .form-box__button:focus {
  color: var(--primary-white-color);
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* сторінкa портфоліо */
.portfolio-header {
  border-bottom: 1px solid #ececec;
}

.buttons-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.buttons-list__btn {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  border-color: #f5f4fa;
  font: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons-list__btn:hover, .buttons-list__btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttons-list .buttons-list__item + .buttons-list__item {
  margin-left: 8px;
}

/* посилання на проєкти в портфоліо */
.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.portfolio__item {
  margin: 15px;
  width: 370px;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover, .portfolio__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__link {
  text-decoration: none;
}

.portfolio__box {
  position: relative;
  overflow: hidden;
}

.portfolio__box-descr {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover .portfolio__box-descr, .portfolio__link:focus .portfolio__box-descr {
  transform: translateY(-100%);
}

.portfolio__description {
  padding: 0 24px;
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
}

.portfolio__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio__text {
  margin: 0;
  font-size: 16px;
  line-height: 1.9;
  color: var(--secondary-text-color);
}

.portfolio__card {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}/*# sourceMappingURL=main.css.map */